@model Serial_Flakes.Models.device

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Information for @Html.DisplayFor(model => model.device_name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Serial Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.device_code)
        </dd>

        <dt>
            SKU/Code Information
        </dt>

        <dd>
            @Html.DisplayFor(model => model.device_SKU)
        </dd>

        <dt>
            Description/Notes
        </dt>

        <dd>
            @Html.DisplayFor(model => model.device_description)
        </dd>

        <dt>
            Photo(s)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.device_pic)" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
